.float-left {
    float: left;
}

.float-right {
    float: right;
}

.ul-not-style {
    list-style: none;
    padding-left: 0;
}

.nav-small-title {
    font-size: 80%;
    color: black;
    font-weight: bold;
}

.margin_bottom {
    margin-bottom: 0;
}

.bg-gray {
    background-color: #f0f3ef;
}

.bg-white {
    background-color: white;
}

.bg-titlegray {
    background-color: #dfdfdf;
}

.bg-red {
    background-color: red;
}